
/* Estilos para pantallas de computadoras */

@media (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Esto previene el scroll horizontal */
    }

    header{
        display: flex;
        justify-content:space-around;
        align-items: center;
    
        background-color: #BBBBBB;

        height: 388px;
    }

    .barra-nav{
        text-align: center;
    }
    
    .lista-nav {
        display: flex; 
        list-style: none; 
        padding: 0; 
    }
    
    .lista-nav li {
        margin-right: 20px; 
        text-transform: uppercase;
        font-weight: bold;
    }

    .lista-nav li:hover {
        color: #C78C19;
    }

    /* ---------- EXPERIMENTO ENLACES ---------------- */

    .lista-nav a{
        /* text-transform: uppercase; */
        color: #000000;
        /* font-weight: bold; */
        /* font-size: 22px; */
        text-decoration: none;
    }
    
    .lista-nav a:hover {
        color: #C78C19;
        /* text-decoration: underline; */
    }

    /* ----------- FIN EXPERIMENTO ENLACES ----------- */

    .titulo{
        background-color: #BBBBBB;
        text-align: center;
        display: flex; /* Convierte el contenedor en un contenedor flex */
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
        height: 55px;
    }

    /* -------------------- COPYPASTE DESVERGONZADO ----------------------------- */

    .tituloTexto{
        font-size:xx-large;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Protest Strike', serif;
        letter-spacing: 2px;
    }

    main{
        /* background-image: url(imgs/diferenciales.jpg); */
        background-color: black;
        /* background-size: cover; */
        /* height: 300px; */
        padding-bottom: 0px;
    }

    .descripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        /* background-color: rgba(187, 187, 187, 0.6); */
        color: #BBBBBB;
        border-radius: 15px;

    }

    .descripcion p{
        font-family: 'Noto Sans', serif;
    }

    .tituloDescripcion{
        margin-top: 30px;
        font-weight: bold;
    }

    .textoDescripcion{
        /* height: 200px; */
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 20px;
        font-weight: 500;

        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /* .intro{
        margin-top: 70px;
    } */

    .mision{
        margin-top: 10px;
    }

    #barberiaStrong{
        font-weight: bold;
    }

    #misionTexto{
        font-weight: bold;
        font-style: italic;
    }

    /* COMIENZO CODIGO DE CHATGPT */

    .diferenciales {
        background-image: url(imgs/bg.jpg);
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        /* grid-gap: 10px;  */
        /* Espacio entre las celdas */
        margin-top: 30px;

        /* padding-top: 50px; */
    }
  
    .celda {
        /* background-color: #ddd;  */
        padding: 20px; /* Espacio interno de las celdas */
        text-align: center; /* Centrar contenido */
        border-radius: 2px;
    }

    .celda p{
        font-family: 'Roboto', serif;
    }

    /* FIN DEL CODIGO CHATGPT */

    .texto{
        /* background-color: #BBBBBB; */
        background-color: rgba(255, 255, 255, 0.85);
        width: 55%;
    }
    
    .izq{
        margin-left: auto;
    }

    .texto p{
        text-align: center;
    }

    footer{
        background-image: url(imgs/bg.jpg);
    }

    footer {
        text-align: center;
        background: url(imgs/bg.jpg);
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin: 20px;
    }

    .mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Para centrar el texto */

        background-image: url(imgs/bg.jpg);

        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .mapaContenido {
        width: 70%;

        padding-top: 2%;
    }

    .tituloMapa {
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        font-weight: bold;
        color: rgb(184, 181, 181);

        font-family: 'Noto Sans', serif;
    }

    .mapa p{
        color: rgb(184, 181, 181);
        font-weight: bold;

        font-family: 'Noto Sans', serif;
    }
    

    /* ------------------------ FIN COPYPASTE DESVERGONZADO ------------------------------- */
    

}
 

/* Estilos para tablets y dispositivos móviles: */

@media (max-width: 767px) {
    
    header{
        display: flex;
        justify-content:space-around;
        align-items: center;

        background-color: #BBBBBB;
    }

    .barra-nav{
        text-align: center;
    }
    
    .lista-nav{
        list-style: none;
    }

    .lista-nav li {
        margin-bottom: 10%;
        text-transform: uppercase;
        font-weight: bold;
    }

    .lista-nav li:hover {
        color: #C78C19;
    }

    .lista-nav a {
        color: #000000;
        text-decoration: none;
    }

    .titulo{
        background-color: #BBBBBB;
        text-align: center;
        display: flex; /* Convierte el contenedor en un contenedor flex */
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
        height: 55px;
    }

    .tituloTexto{
        font-size:xx-large;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Protest Strike', serif;
        letter-spacing: 2px;
    }

    main{
        /* background-image: url(imgs/diferenciales.jpg); */
        background-color: black;
        /* background-size: cover; */
        /* height: 300px; */
        padding-bottom: 0px;
    }

    .descripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        /* background-color: rgba(187, 187, 187, 0.6); */
        color: #BBBBBB;
        border-radius: 15px;
    }

    .descripcion p{
        font-family: 'Noto Sans', serif;
    }


    .tituloDescripcion{
        margin-top: 30px;
        font-weight: bold;
    }

    .textoDescripcion{
        /* height: 200px; */
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 20px;
        font-weight: 500;
    }

    /* .intro{
        margin-top: 70px;
    } */

    .mision{
        margin-top: 10px;
    }

    #barberiaStrong{
        font-weight: bold;
    }

    #misionTexto{
        font-weight: bold;
        font-style: italic;
    }

    /* COMIENZO CODIGO DE CHATGPT */

    .diferenciales {
        background-image: url(imgs/bg.jpg);
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        /* grid-gap: 10px;  */
        /* Espacio entre las celdas */
        margin-top: 30px;
    }
  
    .celda {
        /* background-color: #ddd;  */
        padding: 20px; /* Espacio interno de las celdas */
        text-align: center; /* Centrar contenido */
        border-radius: 2px;
    }

    .celda p{
        font-family: 'Roboto', serif;
    }

    /* FIN DEL CODIGO CHATGPT */

    .texto{
        /* background-color: #BBBBBB; */
        background-color: rgba(255, 255, 255, 0.85);
    }

    .texto p{
        text-align: center;
    }

    .mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Para centrar el texto */

        background-image: url(imgs/bg.jpg);

        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .mapaContenido {
        width: 100%;

        padding-top: 2%;
    }

    .tituloMapa {
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        font-weight: bold;
        color: rgb(184, 181, 181);

        font-family: 'Noto Sans', serif;
    }

    .mapa p{
        color: rgb(184, 181, 181);
        width: 90%;
        font-weight: bold;

        font-family: 'Noto Sans', serif;

    }

    footer{
        background-image: url(imgs/bg.jpg);
    }

    footer {
        text-align: center;
        background: url(imgs/bg.jpg);
        padding: 40px;
    }
    
    .copyright {
        color: white;
        font-size: 13px;
        margin: 20px;
    }


}

